body{
  text-align: center;
}
.coolTitle {
  text-align: center;
  font-family: 'Oswald', Helvetica, sans-serif;
  font-size: 40px;
  letter-spacing: 4px;
  word-spacing: -8px;
  color: tomato;
  text-shadow:
    -1px -1px 0 firebrick,
    -2px -2px 0 firebrick,
     5px 4px 20px dimgrey;
}

#userinput {
  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom: #ddd 1px solid;
  width:200px;
}

#userinput:focus{
  outline: none;
}

#enter {
   border: transparent;
   background-color: transparent;
}
.list-wrap{
    text-align: center;
}
ul{
  list-style: none;
  display: inline-block;
  width:200px;
  -webkit-padding-start:0px;
}
ul li{
  padding: 10px 0 5px 0;
  text-align: left;
  position: relative;
  border-bottom: orange solid 1px;
}

.done {
  text-decoration: line-through;
  text-decoration-color: red;
}

.doneTxt {
  color: red;
  font-family: 'Architects Daughter', cursive;
  font-size: 13px;
}

.delete{
  position: absolute;
  top: 5px;
  right: 0px;
  background: transparent;
  color: #6F808C;
  border: 3px solid transparent;
  border-left: 0px;
  border-radius: 0 10px 10px 0;
  transition: all .2s;
}
.delete:hover {
  color: #A6BFD1;
  cursor: pointer;
}

.delete:focus {
  outline: none;

}
